* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

:root {
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    --bg-light: hsl(0, 0%, 100%);
    --bg: hsl(0, 0%, 95%);
    --bg-dark: hsl(0, 0%, 90%);
    --dominant-color: #ff7a00;  
    --dominant-hover: #e66a00;

    --text-dark: hsl(0, 0%, 0%);
    --text: hsl(0, 0%, 5%);
    --text-light: hsl(0, 0%, 10%);
    --invert: 0;
}

body {
    background-color: var(--bg);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    padding: 0px 20px;
    border-bottom: 2px solid var(--text-light);
}

#left {
    display: flex;
    align-items: center;
}

#mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
}

#mid .logo {
    height: 50px;
}

.profilePic {
    width: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
}

.profilePic:hover {
    transform: scale(1.1);
    border-bottom: 2px solid black;
}

.returnBtn {
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding-top: 15px;
    transition: all 0.5s ease;
}

.returnBtn:hover {
    padding-top: 15px;
    transform: scale(1.05);
    text-shadow: 0px 0px 5px var(--dominant-hover);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 200px;
    padding: 50px 0px;
    background-image: url(../images/blur-background.jpg);
    background-position: center;
    background-size: contain;
}

#addDish,
#changeDish {
    background-color: white;
    padding: 30px;
    width: 500px;
    height: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#addDish h1,
#changeDish h1 {
    margin-bottom: 20px;
    text-align: center;
}

#addDish input,
#changeDish input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#addDish input:focus-visible,
#changeDish input:focus-visible {
    border-color: var(--dominant-color);
    outline: 2px solid var(--dominant-hover);
}

.btn {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--dominant-color);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--dominant-hover);
}

.changeBtn, .deleteBtn {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--dominant-color);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
}

.changeBtn:hover, .deleteBtn:hover{
    background-color: var(--dominant-hover);
}

#buttons {
    display: flex;
    gap: 10px;
    width: 100%;
}

.diet {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}

.dietary:checked {
    accent-color: var(--dominant-color);
}

label, input, select, textarea {
    width: 100%;
    margin: auto;
}

input, select, textarea {
    width: 100%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    background-color: var(--bg-light);
}

.ingredients-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.ingredients-input input {
    border: none;
    outline: none;
    flex: 1;
}

.tag {
    background: #ff7a00;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    margin: 5px;
}

.tag span {
    cursor: pointer;
}

#tags {
    display: flex;
    flex-wrap: wrap;
}